/* !!! currently not imported in Footer.jsx !!! */
.Footer {
  text-align: center; /* Center the footer text */
  padding: 1000px 0; /* Add padding for spacing */
  background-color: #1F2937; /* Optional: Footer background */
  color: white; /* Footer text color */
  font-size: 20pt; /* Footer text size */
}



/*
.Footer-text {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10px;
  margin-top: 100pt;
  font-size: 10pt;
}
*/